.fwidgets {
  padding: 40px 0px;
  background: #ed564b;
  border-top: 5px solid #f96b61;
  border-bottom: 5px solid #f96b61;
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hthumb img {
  height: auto;
  width: 300px;
}

.boxitems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section-title h2 {
  size: 20px;
}

#bottom * {
  color: #606060;
}
